<p style="color: green"><%= notice %></p>
<div class= "recipe-card">
  <h1>Recipes</h1>
 
 <div id="recipes">
  <div class="recipe-list">
    <% @recipes.each do |recipe| %>
      <div >
        <h2><%= recipe.name %></h2>
        <div class="recipe_content">
          <%= render "recipe_index", recipe: recipe %>
          <p>
            <%= link_to "Show this recipe", recipe, class:"recipe_lk" %>
          </p>
        </div>
        <p>
          <%= button_to "Remove", recipe, method: :delete, class: "btn-link" %>
        </p>
      </div>
    <% end %>
  </div>
 </div>
<p class= "btn-link">
  <%= link_to "New recipe", new_recipe_path %>
</p>
</div>

