<div class="recipe-card-container">
  <p style="color: green"><%= notice %></p>
 <div>
 <h2 class="recipe-name"><%= @recipe.name%></h2>
 <div class="recipe-show-top">
 <div>
 <h2>Preparation time: <%=@recipe.preparation_time%></h2>
 <h2>Cooking time: <%=@recipe.cooking_time%></h2>
 <h2><%=@recipe.description%></h2>
 </div>
 <div>
 <h2>Public </h2>
 </div>
 </div>
 <div class="recipe-food-class">
 <%= link_to "Back to recipes", recipes_path, class: "btn-link" %>
   <% if current_user.id == @recipe.user.id%>                
 <a href="/shopping_lists">Generate Shopping List</a>
 
<a href="/recipes/<%= params[:id] %>/recipe_foods/new" class="add-ingredient">Add Ingredient</a>

<%end%>
 </div>
 </div>
 <div class="foods-for-recipe">
<table>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>

  <% @recipe_foods.each do |recipe_food| %>
    <tr>
    <% if recipe_food.quantity && recipe_food.food %>
      <td><%= recipe_food.food.name %></td>
       <td><%= "#{recipe_food.quantity} #{recipe_food.food.measurement_unit}" %></td>
       
      <td>$ <%= recipe_food.quantity * recipe_food.food.price %></td>

      <td>
      <% if current_user.id == @recipe.user.id%> 
      <%= button_to "Remove", recipe_recipe_food_path(recipe_food.recipe_id,recipe_food.id), method: :delete, class: "destroy-button"  %>
      <%end%>
      </td>
      <%end%>
    </tr>
  <%end%>
</table>

 



 </div>

  <div class="recipe_d_ft">

    <%= link_to "Back to recipes", recipes_path, class: 'btn-link' %>
    
  </div>
</div>
