<div class="recipe-card-container">

 <div>
 <h2 class="recipe-name"><%= @recipe.name%></h2>
 <div class="recipe-show-top">
 <div>
 <h2>Preparation time: <%= format_time(@recipe.preparation_time) %></h2>
 <h2>Cooking time: <%= format_time(@recipe.cooking_time) %></h2>
 <h2><%=@recipe.description%></h2>
 </div>
 <div>
        <h2><span id="public-status"><%= @recipe.public ? 'Public' : 'Private' %></span></h2>
        <label class="switch">
          <input id="public-toggle" type="checkbox" <%= @recipe.public ? 'checked' : '' %>>
          <span class="slider <%= @recipe.public ? 'public' : '' %>"></span>
        </label>
      </div>
 </div>
 <div class="recipe-food-class">
 <%= link_to "Back to recipes", recipes_path, class: "btn-link" %>
   <% if current_user.id == @recipe.user.id%>                
 <a href="/shopping_lists">Generate Shopping List</a>
 
<a href="/recipes/<%= params[:id] %>/recipe_foods/new" class="add-ingredient">Add Ingredient</a>

<%end%>
 </div>
 </div>
 <div class="foods-for-recipe">
<table>
  <tr>
    <th>Food</th>
    <th>Quantity</th>
    <th>Value</th>
    <th>Actions</th>
  </tr>

  <% @recipe_foods.each do |recipe_food| %>
    <tr>
    <% if recipe_food.quantity && recipe_food.food %>
      <td><%= recipe_food.food.name %></td>
       <td><%= "#{recipe_food.quantity} #{recipe_food.food.measurement_unit}" %></td>
       
      <td>$ <%= recipe_food.quantity * recipe_food.food.price %></td>

      <td>
      <% if current_user.id == @recipe.user.id%> 
      <%= button_to "Remove", recipe_recipe_food_path(recipe_food.recipe_id,recipe_food.id), method: :delete, class: "destroy-button"  %>
      <%end%>
      </td>
      <%end%>
    </tr>
  <%end%>
</table>

 </div>
  </div>

  <div class="recipe_d_ft">
    <%= link_to "Back to recipes", recipes_path, class: 'btn-link' %>
  </div>
</div>

<script>
  const publicToggle = document.getElementById("public-toggle");
  const publicSlider = document.querySelector(".slider");
  const publicStatus = document.getElementById("public-status");

  publicToggle.addEventListener("change", function() {
    const newStatus = publicToggle.checked;

    fetch("<%= toggle_public_recipe_path(@recipe) %>", {
      method: "PATCH",
      headers: {
        "X-CSRF-Token": "<%= form_authenticity_token %>",
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ public: newStatus }),
    })
      .then(response => response.json())
      .then(data => {
        if (data.public) {
          publicSlider.classList.add("public");
          publicStatus.textContent = 'Public';
        } else {
          publicSlider.classList.remove("public");
          publicStatus.textContent = 'Private';
        }
      })
      .catch(error => {
        console.error("Error toggling public status:", error);
      });
  });
</script>

