<nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Recipe', recipes_path %></li>
      <li><%= link_to 'Food', foods_path %></li>
      <%
=begin%>
 <li><%= link_to 'General Shopping List', shopping_list_path %></li>
      <li><%= link_to 'Public_recipes', recipe_list_path %></li> 
<%
=end%>
  
    </ul>
  