<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= javascript_include_tag 'rails-ujs', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'font-awesome' %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
       <div class="notification">
       <%= link_to 'Public Recipes', public_recipes_path %>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
          </div>

     <% if user_signed_in? %>
   
  <%= link_to destroy_user_session_path, method: :delete do %>
    <i class="fas fa-sign-out-alt"></i> Sign Out
  <% end %>

  

<% end %>

    <%= yield %>
  </body>
</html>
