<!DOCTYPE html>
<html>
  <head>
    <title>Recipe</title>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
   <%= javascript_include_tag 'rails-ujs', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'font-awesome' %>


    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>

       <div class="notification">
      
       <%= render "shared/navigation" %> 
     
         
       <div>
   <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       </div>
       </div>
  <%= yield %>
   <%= javascript_include_tag 'delete_food_button' %>
  </body>
</html>
